# Python
**/__pycache__/
**/*.pyc
.env
*.log
.venv
dist
build


# Docker
.dockerignore
Dockerfile
docker-compose*.yml

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
docs/
